flatbuffers==24.3.25
wheel==0.42.0
opencv-python==4.10.0.84
MouseInfo==0.1.3
aiohttp-retry==2.8.3
kiwisolver==1.4.5
libclang==16.0.6
tensorflow==2.18.0
emoji==2.14.1
pexpect==4.9.0
multitasking==0.0.11
text-unidecode==1.3
absl-py==1.4.0
decorator==5.1.1
setuptools==69.1.1
tzdata==2024.1
pyobjc-framework-Quartz==10.3
google-auth==2.30.0
aiohttp==3.9.5
nest_asyncio==1.6.0
google-api-core==2.19.0
sqlparse==0.5.0
termcolor==2.4.0
diskcache==5.6.3
install==1.3.5
ptyprocess==0.7.0
outcome==1.3.0.post0
aiosignal==1.3.1
rich==13.7.0
toml==0.10.2
Pygments==2.17.2
typing_extensions==4.9.0
filelock==3.13.1
webencodings==0.5.1
python-dateutil==2.8.2
tokenizers==0.21.0
tqdm==4.66.2
PyMsgBox==1.0.9
yfinance==0.2.37
astunparse==1.6.3
threadpoolctl==3.3.0
grpcio-status==1.62.2
pyasn1==0.6.0
contourpy==1.2.0
scikit-learn==1.4.1.post1
httpcore==1.0.5
google-pasta==0.2.0
graphql-core==3.2.6
PyScreeze==0.1.30
pickleshare==0.7.5
regex==2023.12.25
shellescape==3.8.1
stack-data==0.6.2
h5py==3.12.1
gql==3.5.0
imageio==2.36.1
pyobjc-framework-Cocoa==10.3
markdown-it-py==3.0.0
parso==0.8.3
multidict==6.0.5
pyperclip==1.8.2
six==1.16.0
seaborn==0.13.2
h11==0.14.0
GitPython==3.1.44
selenium==4.22.0
attrs==23.2.0
keras==3.6.0
pydantic==2.8.0
openpyxl==3.1.2
pyasn1_modules==0.4.0
Jinja2==3.1.3
itsdangerous==2.2.0
pytz==2024.1
PySocks==1.7.1
namex==0.0.7
statsmodels==0.14.1
scalene==1.5.51
sympy==1.12
sentry-sdk==2.22.0
uritemplate==4.1.1
google-auth-httplib2==0.2.0
ml-dtypes==0.4.1
faiss-cpu==1.9.0.post1
pytweening==1.2.0
appnope==0.1.4
numpy==1.26.4
torch==2.2.1
kagglehub==0.3.3
rubicon-objc==0.4.9
trio==0.25.1
graph-walker==1.0.6
Markdown==3.5.2
python-slugify==8.0.4
packaging==23.2
appdirs==1.4.4
debugpy==1.6.7
Keras-Preprocessing==1.1.2
tensorflow-metadata==1.14.0
tenacity==9.0.0
cffi==1.17.1
blinker==1.8.2
PyGetWindow==0.0.9
jsonschema==4.23.0
mnist1d==0.0.2.post9
transformers==4.48.2
grpcio==1.64.1
tornado==6.3.3
gunicorn==22.0.0
openai==1.35.8
comm==0.2.1
huggingface-hub==0.28.1
platformdirs==4.2.0
asttokens==2.4.1
importlib_resources==6.1.2
torchvision==0.17.1
ipython==8.22.0
asgiref==3.8.1
wandb==0.19.6
yarl==1.9.4
peewee==3.17.1
oauthlib==3.2.2
wordcloud==1.9.3
protobuf==4.25.3
psutil==6.1.1
jax==0.4.35
jedi==0.19.1
pure-eval==0.2.2
python-dotenv==1.0.1
proto-plus==1.23.0
referencing==0.36.2
gast==0.5.4
faiss==1.8.0
pip==25.0.1
etils==1.7.0
soupsieve==2.5
requests==2.31.0
pillow==10.2.0
pycryptodome==3.20.0
sentence-transformers==3.4.1
gitdb==4.0.12
sniffio==1.3.1
matplotlib-inline==0.1.6
safetensors==0.5.2
jsonschema-specifications==2024.10.1
mdurl==0.1.2
mpmath==1.3.0
jupyter_client==8.6.0
fsspec==2024.2.0
pyobjc-core==10.3
django-cors-headers==4.3.1
traitlets==5.14.1
sortedcontainers==2.4.0
rsa==4.9
wcwidth==0.2.13
charset-normalizer==3.3.2
urllib3==2.2.1
joblib==1.3.2
pyzmq==25.1.2
torchsummary==1.5.1
nltk==3.8.1
weave==0.51.33
html5lib==1.1
anyio==4.4.0
zipp==3.17.0
certifi==2024.2.2
trio-websocket==0.11.1
jaxlib==0.4.35
pybind11==2.12.0
pycparser==2.22
Werkzeug==3.0.1
PyRect==0.2.0
cycler==0.12.1
PyJWT==2.8.0
cryptography==43.0.1
googleapis-common-protos==1.62.0
Flask==3.0.3
pyparsing==3.1.1
DateTime==5.5
dm-tree==0.1.8
pandas==2.2.0
frozendict==2.4.0
distro==1.9.0
cloudpickle==3.1.1
tensorboard==2.18.0
MarkupSafe==2.1.5
google-api-python-client==2.133.0
tensorflow-datasets==4.9.4
frozenlist==1.4.1
google==3.0.0
opt-einsum==3.3.0
docker-pycreds==0.4.0
Naked==0.1.32
jupyter_core==5.5.0
requests-toolbelt==1.0.0
networkx==3.2.1
prompt-toolkit==3.0.42
httpx==0.27.0
Django==5.0.6
djangorestframework==3.15.1
PyYAML==6.0.2
rpds-py==0.22.3
smmap==5.0.2
pydantic_core==2.20.0
zope.interface==6.4.post2
kaggle==1.6.17
et-xmlfile==1.1.0
uuid_utils==0.10.0
backoff==2.2.1
tensorboard-data-server==0.7.2
webdriver-manager==4.0.2
scipy==1.12.0
optree==0.13.1
bleach==6.2.0
fonttools==4.49.0
beautifulsoup4==4.12.3
lxml==5.1.0
ipykernel==6.29.5
google-auth-oauthlib==1.2.0
exceptiongroup==1.2.0
setproctitle==1.3.4
annotated-types==0.7.0
httplib2==0.22.0
google-ai-generativelanguage==0.6.6
wsproto==1.2.0
patsy==0.5.6
jax-metal==0.1.1
idna==3.6
matplotlib==3.8.3
twilio==9.2.0
requests-oauthlib==2.0.0
promise==2.3
executing==2.0.1
crypto==1.4.1
google-generativeai==0.7.1
click==8.1.7
walker==0.0.2
cachetools==5.3.3
importlib-metadata==7.0.1
wrapt==1.16.0
ucimlrepo==0.0.7
PyAutoGUI==0.9.54
websocket-client==1.8.0
